<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.ArticleDetailMapper" >
	
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.ArticleDetail" >
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="me.jeekhan.leyi.model.ArticleDetail" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    article_id
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>


  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_article_detail
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from tb_article_detail
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="me.jeekhan.leyi.model.ArticleDetail" >
    insert into tb_article_detail (article_id, content)
    values (#{articleId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
 
  <update id="update" parameterType="me.jeekhan.leyi.model.ArticleDetail" >
    update tb_article_detail 
    set content = #{content,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>


</mapper>

