<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.ReviewApplyMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.ReviewApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="obj_name" property="objName" jdbcType="VARCHAR" />
    <result column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, obj_name, key_id, apply_time, status
  </sql>

  <select id="selectByID" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_review_apply
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="me.jeekhan.leyi.model.ReviewApply" keyProperty="id" useGeneratedKeys="true">
    insert into tb_review_apply (obj_name, key_id,apply_time, status)
    values (#{objName,jdbcType=VARCHAR}, #{keyId,jdbcType=INTEGER}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <!-- 更新记录：状态(0：待审核，A：通过，R：不通过，CC：复核中，CR：复核不通过，CA：复核通过)，CT：复核终止) -->
  <update id="update" parameterType="map">
   update tb_review_apply t
   <set>
     <if test="status != null">
     t.status = #{status,jdbcType=VARCHAR},
     </if>
     <if test="applyTime != null">
     t.apply_time = #{applyTime,jdbcType=TIMESTAMP},
     </if>
   </set>
   where t.id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 取指定对象的待审核记录 -->
  <select id="selectWait4Review" parameterType="map" resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List" />
   from tb_review_apply
   where obj_name = #{objName,jdbcType=VARCHAR} and key_id = #{keyId,jdbcType=INTEGER} 
   and status in ('0','CC')
  </select>
  
    <!-- 取指定对象的所有审核记录 -->
  <select id="selectAll4Obj" parameterType="map" resultMap="BaseResultMap">
   select *
   from tb_review_apply
   where obj_name = #{objName,jdbcType=VARCHAR} and key_id = #{keyId,jdbcType=INTEGER} 
   order by apply_time desc 
  </select>
  
</mapper>