<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.jeekhan.leyi.dao.ReviewInfoMapper" >
  <resultMap id="BaseResultMap" type="me.jeekhan.leyi.model.ReviewInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="obj_name" property="objName" jdbcType="VARCHAR" />
    <result column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="review_info" property="reviewInfo" jdbcType="VARCHAR" />
    <result column="review_opr" property="reviewOpr" jdbcType="INTEGER" />
    <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
    <result column="result" property="result" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="me.jeekhan.leyi.model.ReviewInfo" extends="BaseResultMap" >
    <result column="original_info" property="originalInfo" jdbcType="LONGVARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, obj_name, key_id, review_info, review_opr, review_time, result
  </sql>
  <sql id="Blob_Column_List" >
    original_info
  </sql>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_review_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="me.jeekhan.leyi.model.ReviewInfo" >
    insert into tb_review_info (id, obj_name, key_id, 
      review_info, review_opr, review_time, 
      result, original_info)
    values (#{id,jdbcType=INTEGER}, #{objName,jdbcType=VARCHAR}, #{keyId,jdbcType=INTEGER}, 
      #{reviewInfo,jdbcType=VARCHAR}, #{reviewOpr,jdbcType=INTEGER}, #{reviewTime,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=CHAR}, #{originalInfo,jdbcType=LONGVARCHAR})
  </insert>
  
</mapper>